.container-2 {
  display: inline-block;
  margin: 15px;
}

.image {
  width: 200px;
  height: 250px;
}

p {
  text-align: center;
  font-size: 18px;
}

.container {
  padding: 30px;
  margin: 30px;
  text-align: center;
}
